<h1 class="make">Tarefas</h1>
<div class="container">
    {{#each tasks}}
        <div class="item">
            {{#if this.done}}
                <h3 class="ok-done">Tarefa concluída</h3>
                <h2 class="make">{{this.title}}</h2>
                <p>{{this.description}}</p>
                <div class="actions">
                    <a href="/tasks/{{this.id}}" class="details">Detalhes</a>
                </div>
            {{else}}
                <h3 class="not-done">Tarefa não concluída</h3>
                <h2 class="make">{{this.title}}</h2>
                <p>{{this.description}}</p>
                <div class="actions">
                    <a href="/tasks/{{this.id}}" class="details">Detalhes</a>
                    <form action="/tasks/done/{{this.id}}" method="post">
                        <input type="submit" value="Concluir" class="details done">
                    </form>
                </div>
            {{/if}}
        </div>
    {{/each}}
</div>